// @use "./../../../styles/common/colors.scss";
@use "../../../styles/style.scss";

.header_main_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  .inner_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    min-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
    background-color: #02061e;
    // background-color: $color_body_black;
  }
  .left_area {
    min-width: 48px;
    width: 48px;
    height: 37px;
  }
  .right_area {
    display: flex;
    align-items: center;
    .btn_area {
      margin-right: 15px;
      .button {
        font-size: 12px;
      }
    }
  }
}
